.app {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.show { display: block; }
.hide { display: none; }

ul.button {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li button {
  width: 10%;
  height: 10%;
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  li button {
    width: 80%;
  }
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
